<h1 mat-dialog-title>
    {{ data.type }} SET
</h1>
<div mat-dialog-content>
    <p>Type the name of your DJ SET</p>
    <form #formVolume="ngForm" (ngSubmit)="onSubmit(formVolume)">
        <mat-form-field style="width: 100%">
            <mat-label>SET Name</mat-label>
            <input matInput 
                type="text" 
                name="name"
                [(ngModel)] = "data.name"
                required minlength="3" 
                placeholder="Ex. Techno">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <mat-label>Artwork</mat-label>
            <input matInput 
                type="text" 
                name="artwork"
                [(ngModel)] = "data.artwork"
                required minlength="10">
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button color="accent" cdkFocusInitial type="submit">Save</button>
            <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
        </div>
    </form>
</div>