<mat-card>
    <h3>
        SET List
    </h3>
    <div>
        <button mat-button color="primary" (click)="accordion.openAll()">Expand All</button>
        <button mat-button color="primary" (click)="accordion.closeAll()">Collapse All</button>
        <button mat-button color="primary" (click)="onCreateSetDialog()">New SET</button>
    </div>

    <mat-accordion multi>
        <mat-expansion-panel *ngFor="let djset of djsets; let i = index">
            <mat-expansion-panel-header>
                <mat-panel-title>{{ i + 1 }}. {{ djset.name }}</mat-panel-title>
                <mat-icon class="icon" color="primary" (click)="onEditSetDialog(djset)">edit</mat-icon>
                <mat-icon class="icon" color="warn"    (click)="onDeleteSet(djset.id)">delete</mat-icon>
            </mat-expansion-panel-header>
            <img [src]="djset.artwork">
            <mat-list>
                <div mat-subheader>
                    <button mat-button color="primary" (click)="onCreateVolumeDialog(djset)">New Volume</button>
                </div>
                <mat-list-item *ngFor="let vol of djset?.volumes?.reverse()">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    {{ vol.name }} 
                    <span class="spacer"></span>
                    <mat-icon class="icon" color="primary" (click)="onEditVolumeDialog(djset, vol)">edit</mat-icon>
                    <mat-icon class="icon" color="warn"    (click)="onDeleteVolume(djset, vol)">delete</mat-icon>
                </mat-list-item>
            </mat-list>
        </mat-expansion-panel>
    </mat-accordion>
</mat-card>