<h1 mat-dialog-title>
    {{ data.type }} Volume
</h1>
<div mat-dialog-content>
    <form #formVolume="ngForm">
        <mat-form-field style="width: 100%">
            <mat-label>Volume Name</mat-label>
            <input matInput 
                type="text" 
                name="name"
                [(ngModel)] = "data.name"
                required minlength="3" 
                placeholder="Ex1. Techno, HardTechno Ex2. 1987-1989">
        </mat-form-field>

        <mat-checkbox
                name="published"
                [(ngModel)] = "data.published">
            Publish?
        </mat-checkbox>

        <mat-form-field style="width: 100%">
            <mat-label>URL</mat-label>
            <input matInput
                type="text"
                name="url"
                [(ngModel)] = "data.url"
                required minlength="3"
                placeholder="Type the url on the set was hosted">
        </mat-form-field>
        <div *ngIf="data.type === 'Edit'">
            <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput 
                    type="text" 
                    #title
                    required minlength="3" 
                    placeholder="Ex1. The Prodigy">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="onAddTrack(title)">
                add track
            </button>
            &nbsp;
            <button *ngIf="isSelectedTracks()" 
                mat-raised-button color="warn" 
                (click)="onDeleteTracks()">
                Delete {{ countSelectedTracks() }} selected track(s)
            </button>
            &nbsp;
            <button 
                *ngIf="canMoveTrack()"
                mat-raised-button color="primary"
                (click)="onDownTrack()">
                <mat-icon class="icon">south</mat-icon>
            </button>
            &nbsp;
            <button 
                *ngIf="canMoveTrack()"
                mat-raised-button color="primary"
                (click)="onUpTrack()">
                <mat-icon class="icon">arrow_upward</mat-icon>
            </button>
        </div>
        <mat-selection-list #tracks *ngIf="data.playlist"  (selectionChange)="onSelectionChange(tracks)">
            <mat-list-option *ngFor="let track of data.playlist; let i = index" [value]="track">
                {{ i + 1 }}) {{ track.title }}
            </mat-list-option>
        </mat-selection-list>
        <hr *ngIf="data.playlist && data.playlist.length > 0">
        <div mat-dialog-actions>
            <button mat-raised-button color="accent" (click)="onSubmit(formVolume)" cdkFocusInitial>Save</button>
            <button mat-raised-button color="accent" (click)="onClose()">Cancel</button>
        </div>
    </form>
</div>
